{
	"extends": "airbnb",
	env: {
		'es6': true,
		'node': true,
		'browser': true,
		'commonjs': true
	},
	ecmaFeatures: {
		'jsx': true,
		'modules': true
	},
	plugins: [
		'react'
	],
	parser: 'babel-eslint',
	"rules": {
		'comma-dangle':['error','never'],
		'linebreak-style': ['error', 'windows'],
		'space-before-blocks' : 0,
		'no-tabs': 0,
		'indent': 0,
		'no-trailing-spaces':0,
		'padded-blocks':0,
		'keyword-spacing':0,
		'space-infix-ops':0,
		'space-comment':0,
		'comma-spacing':0,
		'arrow-spacing':0,
		'block-spacing':0,
		'react/jsx-indent':0,
		'react/jsx-tag-spacing':0,
		'object-curly-spacing':0,
		'react/jsx-space-before-closing':0,
		'no-plusplus':0,
		'no-mixed-operators':0,
		'max-len':0,
		'arrow-body-style':['error','as-needed'],
		'import/no-named-as-default':0,
		'import/no-named-as-default-member':0,
		'jsx-a11y/no-static-element-interactions':0,
		'react/no-array-index-key':0
	}
}